CREATE TABLE reports ( id uuid DEFAULT extensions.uuid_generate_v4() PRIMARY KEY, title jsonb NOT NULL, description jsonb NOT NULL, image text, file_url text, file_name text, created_at timestamp with time zone DEFAULT now() );
